.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--openg2p-light-gray);
}

.center-title {
  text-align: center;
}

.App-main {
  flex: 1;
  padding: 2rem 1rem;
  background-color: var(--openg2p-light-gray);
}

.container {
  max-width: 800px;
  margin: 0 auto;
  background-color: var(--openg2p-yellow);
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  padding: 2rem;
}

.description {
  color: var(--openg2p-magenta);
  margin-bottom: 2rem;
  font-size: 1.12rem;
  text-align: left;
  font-style: italic; /* Add italics */
}
